@media(max-width:992px){
    .ecourse{
        flex-direction:column;
        text-align:center;
    }
    .subject{
        flex-direction:column;
        align-items:center;
    }
    .img{
        padding-left:20px;
    }
    .img{
        height: 50vh;
    }
    .img{
        background-size: 100% 50vh;
    }
    /* .abo{flex-direction:column;} */
    .book{
        flex-direction:column;
    }
    .domain{
        flex-direction:column;
    }
}
@media screen and (max-width:500px) {
    .img{height: 40vh;}
}
@media screen and (max-width:322px) {
    .img{
        height: 30vh;
    }
    .img{
        background-size: 100% 30vh;
    }
}

@media(max-width:768px){
    .img h1{
        font-size:40px;
    }
    .img h2{
        font-size:24px;
    }
    /* .about h1{font-size:25px;}
    .about h3{font-size:16px;} */
}
@media(max-width:480px){
    .img h1{
        font-size:30px;
    }
    .img h2{
        font-size:18px;
    }
    .subject a{
        font-size:14px;
    }
    /* .about h1{font-size:20px;}
    .about h3{font-size:14px;} */
    .sign input,.sign select{
        font-size:14px;padding:8px;
    }
    .sign button{
        font-size:16px;padding:8px;
    }
}
@media screen and (max-width:1300px) {
    .image{
        height: 50vh;
        background-size:100% 50vh;
    }
    .abo{
        height: 55vh;
    }
}
@media screen and (max-width:1300px) {
    .about h3{
        font-size: 25px;
    }
}
@media screen and (max-width:999px) {
   .about h3{
    font-size: 23px;
   }
}
@media screen and (max-width:845px) {
    .about h3{
        font-size: 20px;
    }
    .about h1{
        font-size: 30px;
    }
    .image{
        height: 40vh;
        background-size: 100% 40vh;
    }
    .abo{
        height: 45vh;
    }
}
@media screen and (max-width:771px) {
    .about h1{
        font-size: 17px;
    }
    .about h2{
        font-size: 17px;
    }
    .about h3{
        font-size: 16px;
    }
    .about button{
        width: 130px;
        height: 40px;
        margin-top: 20px;
        font-size: 20px;
    }
    .image{
        height: 30vh;
        background-size: 100% 30vh;
    }
    .abo{
        height: 35vh;
    }
}
@media screen and (max-width:627px) {
    .about h3{
        font-size: 15px;
    }
}
@media screen and (max-width:595px) {
    .about h1{
        font-size: 17px;
    }
    .about h2{
        font-size: 17px;
    }
    .about h3{
        font-size: 15px;
    }
    .about button{
        width: 130px;
        height: 40px;
        font-size: 20px;
    }
    .image{
        height: 30vh;
        background-size: 100% 30vh;
    }
}
@media screen and (max-width:577px) {
    .about h1{
        font-size: 15px;
    }
    .about h2{
        font-size: 15px;
    }
    .about h3{
        font-size: 13px;
    }
    .about button{
        width: 130px;
        height: 40px;
        font-size: 20px;
    }
    .image{
        height: 50vh;
        background-size: 100% 30vh;
    }
}
@media screen and (max-width:449px) {
    .about h1{
        font-size: 15px;
    }
    .about h2{
        font-size: 15px;
    }
    .about h3{
        font-size: 11px;
    }
    .about button{
        width: 130px;
        height: 40px;
        font-size: 20px;
    }
    .image{
        height: 30vh;
        background-size: 100% 30vh;
    }
    .abo{
        height: 35vh;
    }
}
@media screen and (max-width:336px) {
    .about h1{
        font-size: 13px;
    }
    .about h2{
        font-size: 13px;
    }
    .about h3{
        font-size: 10px;
    }
    .about button{
        width: 100px;
        height: 30px;
        font-size: 15px;
    }
    .image{
        height: 30vh;
        background-size: 100% 30vh;
    }
    .abo{
        height: 35vh;
    }
}