@media(max-width:992px){
    .ecourse{
        flex-direction:column;
        text-align:center;
    }
    .subject{
        flex-direction:column;
        align-items:center;
    }
    .img{
        padding-left:20px;
    }
    .img{
        height: 50vh;
    }
    .img{
        background-size: 100% 50vh;
    }
    /* .abo{flex-direction:column;} */
    .book{
        flex-direction:column;
    }
    .domain{
        flex-direction:column;
    }
}
@media screen and (max-width:500px) {
    .img{height: 40vh;}
}
@media screen and (max-width:322px) {
    .img{
        height: 30vh;
    }
    .img{
        background-size: 100% 30vh;
    }
}

@media(max-width:768px){
    .img h1{
        font-size:40px;
    }
    .img h2{
        font-size:24px;
    }
    /* .about h1{font-size:25px;}
    .about h3{font-size:16px;} */
}
@media(max-width:480px){
    .img h1{
        font-size:30px;
    }
    .img h2{
        font-size:18px;
    }
    .subject a{
        font-size:14px;
    }
    /* .about h1{font-size:20px;}
    .about h3{font-size:14px;} */
    .sign input,.sign select{
        font-size:14px;padding:8px;
    }
    .sign button{
        font-size:16px;padding:8px;
    }
}
@media screen and (max-width:1300px) {
    .image{
        height: 50vh;
        background-size:100% 50vh;
    }
    .abo{
        height: 55vh;
    }
}
@media screen and (max-width:999px) {
   .about h3{
    font-size: 23px;
   }
}
@media screen and (max-width:845px) {
    .about h3{
        font-size: 20px;
    }
    .about h1{
        font-size: 30px;
    }
    .image{
        height: 40vh;
        background-size: 100% 40vh;
    }
    .abo{
        height: 45vh;
    }
}
@media screen and (max-width:771px) {
    .about h1{
        font-size: 17px;
    }
    .about h2{
        font-size: 17px;
    }
    .about h3{
        font-size: 15px;
    }
    .about button{
        width: 130px;
        height: 40px;
        margin-top: 10px;
        font-size: 20px;
    }
    .image{
        height: 30vh;
        background-size: 100% 30vh;
    }
    .abo{
        height: 35vh;
    }
}
@media screen and (max-width:594px) {
    .about h1{
        font-size: 17px;
    }
    .about h2{
        font-size: 17px;
    }
    .about h3{
        font-size: 15px;
    }
    .about button{
        width: 130px;
        height: 40px;
        font-size: 20px;
    }
    .image{
        height: 50vh;
        background-size: 100% 30vh;
    }
}
@media screen and (max-width:577px) {
    .about h1{
        font-size: 15px;
    }
    .about h2{
        font-size: 15px;
    }
    .about h3{
        font-size: 13px;
    }
    .about button{
        width: 130px;
        height: 40px;
        font-size: 20px;
    }
    .image{
        height: 50vh;
        background-size: 100% 30vh;
    }
}
@media screen and (max-width:449px) {
    .about h1{
        font-size: 15px;
    }
    .about h2{
        font-size: 15px;
    }
    .about h3{
        font-size: 11px;
    }
    .about button{
        width: 130px;
        height: 40px;
        font-size: 20px;
    }
    .image{
        height: 30vh;
        background-size: 100% 30vh;
    }
    .abo{
        height: 35vh;
    }
}
@media screen and (max-width:336px) {
    .about h1{
        font-size: 13px;
    }
    .about h2{
        font-size: 13px;
    }
    .about h3{
        font-size: 10px;
    }
    .about button{
        width: 100px;
        height: 30px;
        font-size: 15px;
    }
    .image{
        height: 30vh;
        background-size: 100% 30vh;
    }
    .abo{
        height: 35vh;
    }
}
@media screen and (max-width:1300px) {
    .bos{
        height: 400px;
    }
    .bos img{
        height: 400px;
    }
    .boss{
        height: 400px;
    }
    .boss img{
        height: 400px;
    }
    .expolor1{
        height: 40vh;
    }
    .expolor2{
        height: 40vh;
    }
}
@media screen and (max-width:1216px) {
    .expolor{
        display: flex;
        height: 100%;
        width: 100%;
    }
    .expolor1{
        display: block;
        height: 100%;
        width: 43%;
    }
    .expolor2{
        display: block;
        height: 100%;
        width: 43%;
    }
    .bos{
        height: 400px;
        width:450px;
        margin-left: 30px;
    }
    .bos img{
        width: 450px;
    }
    .boss{
        height: 400px;
        width: 450px;
        margin-left: 70px;
    }
    .boss img{
        width: 450px;
    }
}
@media screen and (max-width:995px) {
    .expolor{
        display: flex;
        height: 100%;
        width: 100%;
    }
    .expolor1{
        display: block;
        height: 100%;
        width: 43%;
    }
    .expolor2{
        display: block;
        height: 100%;
        width: 43%;
    }
    .bos{
        height: 400px;
        width:400px;
        margin-left: 30px;
    }
    .bos img{
        width: 400px;
    }
    .boss img{
        width: 400px;
    }
    .boss{
        height: 400px;
        width: 400px;
        margin-left: 70px;
    }
}
@media screen and (max-width:836px) {
    .expolor{
        display: flex;
        height: 100%;
        width: 100%;
    }
    .expolor1{
        display: block;
        height: 100%;
        width: 43%;
    }
    .expolor2{
        display: block;
        height: 100%;
        width: 43%;
    }
    .bos{
        height: 400px;
        width:350px;
        margin-left: 30px;
    }
    .boss{
        height: 400px;
        width: 350px;
        margin-left: 70px;
    }
    .bos img{
        width: 350px;
    }
    .boss img{
        width: 350px;
    }
}
@media screen and (max-width:736px) {
    .expolor{
        display: flex;
        height: 100%;
        width: 100%;
    }
    .expolor1{
        display: block;
        height: 100%;
        width: 43%;
    }
    .expolor2{
        display: flex;
        height: 0%;
        width: 0%;
    }
    .bos{
        height: 400px;
        width:650px;
    }
    .boss{
        height: 0px;
        width: 0px;
        margin-left: 0px;
    }
        .bos img{
        width: 650px;
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }
    .boss img{
        width: 0px;
        height: 0px;
    }
}
@media screen and (max-width:688px) {
    .expolor{
        display: flex;
        height: 100%;
        width: 100%;
    }
    .expolor1{
        display: block;
        height: 100%;
        width: 43%;
    }
    .expolor2{
        display: flex;
        height: 0%;
        width: 0%;
    }
    .bos{
        height: 400px;
        width:500px;
    } 
    .bos img{
        width: 500px;
        height: 400px;
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }
    .boss img{
        width: 0px;
        height: 0px;
    }
    /* .boss{
        height: 0px;
        width: 0px;
        margin-left: 0px;
    } */
}
@media screen and (max-width:568px) {
    .expolor{
        display: flex;
        height: 100%;
        width: 100%;
    }
    .expolor1{
        display: block;
        height: 100%;
        width: 43%;
    }
    .expolor2{
        display: flex;
        height: 0%;
        width: 0%;
    }
    .bos{
        height: 400px;
        width:450px;
    }
        .bos img{
        width: 450px;
        height: 400px;
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }
    .boss{
        height: 0px;
        width: 0px;
        margin-left: 0px;
    }
     .boss img{
        width: 0px;
        height: 0px;
    }
}
@media screen and (max-width:500px) {
    .bos{
        width: 400px;
        height: 300px;
    }
            .bos img{
        width: 400px;
        height: 300px;
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:448px) {
    .bos{
        width: 350px;
        height:300px;
    }
            .bos img{
        width: 350px;
        height: 300px;
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:392px) {
    .bos{
        width: 300px;
    }
            .bos img{
        width: 300px;
        height: 300px;
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:352px) {
    .bos{
        width: 250px;
        height: 30vh;
    }
            .bos img{
        width: 250px;
        height: 30vh;
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:300px) {
    .bos{
        width: 200px;
        height: 20vh;
    }
     .boss img{
        width: 0px;
        height: 0px;
    }        .bos img{
        width: 200px;
        height: 20vh;
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }
}