 .img{
            display: flex;
            background-image: url(OIP.webp);
            width: 100%;
            height: 96vh;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .lan {
            color: rgb(155, 93, 93);
            font-size: 30px;
            margin-left: -10px;
           padding: 20px;
        }
        .lan a{
            color: black;
            margin: 20px;
        }
        .lan a:hover{
            color:white;
        }
        #email{
            width: 300px;
            height: 30px;
            margin-left: -275px;
            text-align: center;
            border-radius: 10px;
            margin-top: 100px;
            border: none;
        }
          #password{
            width: 300px;
            height: 30px;
            margin-left: -305px;
            text-align: center;
            border-radius: 10px;
            margin-top: 170px;
            border: none;
        }
        #btn{
            width: 250px;
            height: 40px;
            background-color: #ff7200;
            margin-top: 250px;
            margin-left: -280px;
            font-size: 30px;
            border: none;
            border-radius: 10px;
            cursor:pointer;
        }
        #najmul{
            transition:1.2s ease;
        }
        #najmul:hover{
            transform: scale(1.2);
        }
        #sig{
             transition: 1.2s ease;
        }
        #sig:hover{
              transform: scale(1.1);
        }
       #b{
        transition: 1.2s ease;
       }
       #b:hover{
        transform: scale(1.1);
       }
            