*{
    margin: 0;
    padding: 0;
}
.nnn{
    width: 100%;
    height: 10vh;
    background-color: red;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 90%;
    height: 10vh;
    background-color: green;
    margin-left: 20vh;
}
