*{
    margin: 0;
    padding: 0;
}
.Navbar{
    width: 100%;
    height: 12vh;
    background-color: gray;
    align-items: center;
    display: flex;
}
.Logo{
    width: 200px;
    /* background-color: red; */
    height: 8vh;
    align-items: center;
    margin-left: 10vh;
}
.Logo h1{
    font-size: 5vh;
    padding-left: 2vh;
    color: white;
    padding-top: 1 vh;
}
.Li{
    display: flex;
    width: 100%;
    height: 8vh;
    /* background-color: green; */
    justify-content: space-evenly;
    align-items: center;
}
.Li a{
    font-size: 3vh;
    color: white;
    text-decoration: none;
}