*{
    margin: 0;
    padding: 0;
}
#text{
    font-size: 30px;
    color: rgb(255, 0, 0);
}
.nav-item a{
    font-size: 25px;
    margin-left: 30px;
}
 /* img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */